/* ===============Set Default=============== */

/* 
    primary - #395144 
    secondary - #4E6C50
    third - #AA8B56
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    list-style: none;
    background-color: #668b68;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===============Set Default End=============== */

@font-face {
    font-family: 'Notable';
    src: url(../font/Notable-Regular.ttf);
}

.page-title,
.payoff {
    margin: 5px;
}

.Logo {
    margin: 5px;
    width: 60px;
    height: 60px;
}

#header-title {
    float: left;
}

#header-title h1 {
    font-family: 'Notable';
}

#top-header {
    width: 100%;
    height: 150px;
    padding: 5px;
    background-color: #395144;
}

nav {
    line-height: 150px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #c0a16c;
}

.active {
    background-color: #AA8B56;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
}

#aside-routes-list h2 {
    margin: 8px 0;
}

.cookie-statement {
    width: 25%;
    padding: 15px;
    margin: 10px;
    background-color: #FA0;
    color: #FFF;
    opacity: 50%;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

.cookie-statement>button {
    margin: 5px 0;
    padding: 5px;
    background-color: #02692d;
    color: #eeeeee;
    cursor: pointer;
}

.cookie-statement>button:hover {
    padding: 5px;
    background-color: #0f833f;
}

.footer {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #395144;
    color: #ffffff;
    line-height: 40px;
}

footer p {
    margin: 10px;
}

/* ===============Home Page=============== */

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.promotional {
    margin: 10px;
}

.promotional video {
    width: 100%;
    height: 22rem;
    margin: 22px auto;
}

.article-list {
    margin: 10px;
}

article header>h2 {
    margin: 5px;
}

.article-list p {
    font-size: 1.2rem;
    word-spacing: 5px;
}

.article-list header h2:first-letter {
    font-size: 35px;
}

.art-image {
    width: 300px;
    margin: 5px;
    border-width: thick;
    border-style: double;
    border-color: #c0df4f;
}

.article-list figure {
    float: right;
}

.art-footer a:visited {
    color: #49bbfd;
}

.art-footer {
    margin-top: 10px;
}

.article-list+aside {
    width: 25%;
    margin: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 20px;
}

.article-list+aside ol {
    padding-left: 20px;
    line-height: 30px;
}

#aside-routes-list {
    background-color: #c5a773;
}

#aside-routes-list h2 {
    font-size: 1em;
}

/* ===============Tab=============== */

@media (max-width: 798px) {

    .cookie-statement {
        width: 30%;
    }

    .row {
        flex-direction: column-reverse;
    }

    .article-list+aside {
        width: 98%;
        margin: 0 8px;
    }

    .article-list {
        display: flex;
        flex-direction: column-reverse;
    }

    .article-list p {
        text-align: left;
        font-size: 16px;
        padding: 5px;
    }

    .art-image {
        margin: 5px;
    }

    .article-list figure {
        float: left;
    }

    .article-list figure>figcaption {
        margin-left: 5px;
    }

    #top-header h1 {
        font-size: 20px;
    }

    .art-footer {
        margin-top: 0px;
        font-size: 12px;
    }
}

/* ===============Tab=============== */

/* ===============Mobile=============== */

.hamburgerBtn {
    display: none;
    float: right;
    padding: 23px 10px 0 10px;
    cursor: pointer;
}

#ham-checkbox {
    display: none;
}

@media (max-width: 480px) {

    .cookie-statement {
        width: 50%;
    }

    .row {
        flex-direction: column-reverse;
    }

    #top-header {
        width: 100%;
        height: 80px;
    }

    #top-header h1 {
        font-size: 17px;
    }

    #top-header h2 {
        font-size: 15px;
    }

    .Logo {
        display: none;
    }

    .promotional video {
        width: 100%;
        height: 15rem;
        margin: 22px auto;
    }

    .hamburgerBtn {
        display: block;
    }

    nav {
        display: none;
        height: 70px;
    }

    nav ul {
        position: absolute;
        z-index: 10;
        top: 5rem;
        left: 52%;
        width: 50%;
        background-color: #4c735e;
        padding-left: 5%;
    }

    nav ul li {
        width: 100%;
        height: 50px;
    }

    nav ul li a {
        font-size: 16px;
        color: #ffffff;
    }

    #ham-checkbox:checked~nav {
        right: 0;
        display: block;
    }

    .article-list+aside {
        width: 98%;
        margin: 0 5px;
    }

    .article-list {
        max-width: 100%;
        width: 98%;
        display: flex;
        flex-direction: column-reverse;
    }

    .article-list p {
        text-align: justify;
        font-size: 16px;
        word-spacing: 0px;
        padding-right: 10px;
    }

    .art-image {
        width: 95%;
        height: 12rem;
    }

    .article-list figure>figcaption {
        margin-left: 3px;
    }

    .article-list figure {
        width: 100%;
        margin-bottom: 5px;
    }

    .art-footer {
        margin: 0px 0px 0px 5px;
        font-size: 12px;
    }
}


/* ===============Mobile=============== */

/* ===============Home Page=============== */

/* ===============Contact Page=============== */

#main-contact .col {
    width: 98%;
    margin: 10px;
}

#form {
    width: 70%;
    margin: 10px;
}

#form fieldset {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#form legend {
    font-weight: bold;
    padding: 10px;
}

#form input,
textarea,
button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#btn-submit {
    background-color: #395144;
    border-color: #2e3f36;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}

#btn-submit:hover {
    background-color: #2e3f36;
}

#form label {
    margin-bottom: 5px;
}

#main-contact aside {
    width: 30%;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #AA8B56;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 20px;
}

#main-contact aside ul {
    list-style: none;
}

#info {
    margin: 10px;
}

#info ul {
    line-height: 22px;
}

#address {
    margin: 8px 0;
    font-weight: bold;
}

#main-contact aside img {
    width: 100%;
    margin: 5px 0;
}

@media (max-width: 798px) {
    #main-contact .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #main-contact aside {
        width: 29%;
    }

    #form {
        width: 65%;
    }
}

@media (max-width: 480px) {

    #main-contact .row {
        flex-direction: column;
    }

    #main-contact aside {
        width: 96%;
    }

    #main-contact {
        width: 96%;
    }

    #main-contact #form {
        width: 97%;
    }
}

/* ===============Contact Page=============== */

/* ===============Pricing Page=============== */

#main-pricing .col {
    width: 98%;
    margin: 10px;
}

#p-table {
    max-width: 100%;
    overflow: auto;
}

.overview {
    margin: 10px;
}

.overview>article>p {
    line-height: 20px;
}

#p-table table tbody tr td:first-child {
    color: #FF0;
}

#p-table table {
    width: 100%;
    margin: 10px;
    font-size: 13px;
    color: #333;
    white-space: nowrap;
    border-collapse: collapse;
}

#p-table thead,
tfoot {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #395144;
}

.td-img {
    width: 20%;
}

#p-table tbody img {
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 5px 5px 6px 0px #959595;
}

#p-table th,
td {
    padding: 10px;
    border: 1px solid #00000017;
    overflow: hidden;
    text-overflow: ellipsis;
}

#p-table tbody tr:nth-child(even) {
    background-color: #CFF;
}

#p-table tbody tr:nth-child(odd) {
    background-color: #FFF;
}

#main-pricing #table-column {
    width: 75%;
}

#pricing-aside {
    width: 30%;
    padding: 10px 20px;
    margin: 10px;
    background-color: #AA8B56;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 20px;
}

.aside-img {
    width: 100%;
    height: 200px;
    margin: 5px 0;
}

#pricing-aside ul {
    list-style: none;
}

#price-source {
    margin: 10px;
}

@media (max-width: 798px) {

    #main-pricing .row {
        flex-direction: column;
    }

    #p-table {
        width: 100%;
    }

    #main-pricing #table-coloumn {
        width: 98%;
    }

    #pricing-aside {
        width: 97%;
    }

    #pricing-aside ul li:first-child {
        display: none;
    }

    #pricing-aside ul {
        display: flex;
    }

    #pricing-aside ul li {
        margin: 0 5px;
    }

    .aside-img {
        width: 100%;
        margin: 5px 0;
        height: 200px;
    }
}

@media (max-width: 480px) {

    .overview header {
        color: #000000;
        margin: 5px 0;
        padding: 0;
        position: static;
    }

    #main-pricing .row {
        flex-direction: column;
    }

    #main-pricing #table-coloumn {
        width: 95%;
    }

    #pricing-aside {
        width: 95%;
    }

    #p-table {
        width: 98%;
    }

    #pricing-aside ul li:first-child {
        display: block;
    }

    #pricing-aside ul {
        display: block;
    }

    #pricing-aside ul li {
        margin: 0 5px;
    }
}

/* ===============Pricing Page=============== */

/* ===============Product Page=============== */

#prod-aside {
    padding: 10px 20px;
    margin: 10px;
    background-color: #AA8B56;
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 20px;
}

#prod-aside ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

#prod-aside img {
    width: 100%;
    height: 252px;
}

#main-product .col {
    width: 98%;
    margin: 10px;
}

.item1 {
    grid-area: art1;
}

.item2 {
    grid-area: art2;
}

.item3 {
    grid-area: art3;
}

.item4 {
    grid-area: art4;
}

.item5 {
    grid-area: art5;
}

.item6 {
    grid-area: art6;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-areas:
        "art2 art1 art3"
        "art5 art1 art3"
        "art5 art1 art4"
        "art5 art6 art6";
    grid-template-columns: repeat(3, auto);
}

.grid-container section {
    margin: 5px;
    padding: 5px;
}

@media (max-width: 798px) {

    #main-product .row {
        flex-direction: column;
    }

    #prod-aside ul li:last-child {
        display: none;
    }

    .grid-container article:nth-child(4) {
        display: none;
    }

    .grid-container {
        display: grid;
        width: 100%;
        grid-template-areas:
            "art1 art2"
            "art1 art2"
            "art3 art2"

            "art3 art5"
            "art3 art5"
            "art3 art5"

            "art6 art6"
            "art6 art6";
        grid-template-columns: repeat(2, auto);
    }
}


@media (max-width: 480px) {

    #main-product .row {
        flex-direction: column;
    }

    #prod-aside ul {
        display: block;
    }

    #prod-aside ul li:last-child {
        display: block;
    }

    #prod-aside {
        width: 70%;
    }

    .grid-container article:nth-child(4) {
        display: none;
    }

    .grid-container article:nth-child(6) {
        display: none;
    }

    .grid-container {
        display: grid;
        width: 100%;
        grid-template-areas:
            "art5 ."
            "art5 ."
            "art5 ."

            "art3 ."
            "art3 ."
            "art3 ."
            
            "art2 ."
            "art2 ."
            "art2 ."

            "art1 ."
            "art1 ."
            "art1 .";
        grid-template-columns: 70% 30%;
    }
}

/* ===============Product Page=============== */